[user]
        name = Thang Nguyen
        email = thang@thangnguyen.us
[alias]
        stat = status
        st = status
        ci = commit
        co = checkout
        br = branch
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
        peek = stash show -p stash@{0}
        unstage = reset --soft HEAD^
[color]
        ui = true
[filter "media"]
        clean = git-media-clean %f
        smudge = git-media-smudge %f
[transfer]
        fsckobjects = true
